{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'CoreBundle:cms:base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}
    {{ pageName }}
{% endblock %}
{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'CoreBundle:cms:content/content-header.html.twig' %}
                        {% block contentTitle %} {{ 'product_bundle.products'|trans }} {% endblock %}
                    {%  endembed %}
                    <div class='row-fluid'>
                        <div class="pull-right">
                            <a class="btn btn-primary" style="margin-bottom:8px" href="{{ url('oni_add_product') }}" > <i class="icon-plus"></i> {{ 'product_bundle.add.product'|trans }} </a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" style="margin-bottom:8px" href="{{ url('oni_add_product_option_group') }}" > <i class="icon-plus"></i> {{ 'Add Product Option Group'|trans }} </a>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>

                            <div class='box-content box-no-padding'>
                                <div class='responsive-table'>
                                    <div class='scrollable-area'>
                                        <table class='data-table-oni-product-categories table table-bordered table-striped' >
                                            <thead>
                                            <tr>
                                                <th>SKU</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Created At</th>
                                                <th>Last Updated</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <template data-table-oni-product-options="1">
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/productmanager/js/products.js') }}" type="text/javascript"></script>
{% endblock %}