{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'CoreBundle:cms:base.html.twig' %}
{% block title %}
    {{ pageName }}
{% endblock %}
{% form_theme form 'CoreBundle:cms/form:bootstrap_horizontal_layout.html.twig' %}
{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'CoreBundle:cms:content/content-header.html.twig' %}
                        {% block contentTitle %} {{ 'product_bundle.add.product'|trans }} {% endblock %}
                    {%  endembed %}
                    <div class='row-fluid'>
                        <div class="pull-right">
                            <a class="btn btn-primary" style="margin-bottom:8px" href="{{ url('oni_add_product_option_group') }}" > <i class="icon-plus"></i> {{ 'product_bundle.add.new.product.option.group'|trans }} </a>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 box'>
                            <div class='box-content'>
                                <div class='row-fluid'>
                                    <div class='tabbable tabs-left'>
                                        <ul class='nav nav-tabs'>
                                            <li class='active'>
                                                <a data-toggle='tab' href='#lA'>
                                                    <i class="icon-info"></i>
                                                    Info
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle='tab' href='#lB'>
                                                    <i class="icon-reorder"></i>
                                                    Category
                                                </a>
                                            </li>
                                        </ul>
                                        {{ form_start(form) }}
                                        <div class='tab-content'>
                                            <div class='tab-pane active' id='lA'>
                                                {{ form_row(form.name) }}
                                                {{ form_row(form.url) }}
                                                {{ form_row(form.sku) }}
                                                {{ form_row(form.upc) }}
                                                {{ form_row(form.visibility) }}
                                                {{ form_row(form.shortDescription) }}
                                                {{ form_row(form.description) }}
                                            </div>
                                            <div class='tab-pane' id="lB">
                                                <div class="control-group">
                                                    {{ form_label(form.categories) }}
                                                    {% do form.categories.setRendered %}
                                                    <div class="controls">
                                                        <div id="oni-category-tree" data-input-name="{{ form.categories.vars.full_name }}[]" data-selected="{{ selectedCategories|json_encode }}" data-attached-selected="{{ selectedDefaultCategory|json_encode }}">
                                                            <div class="js-tree"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form_row(form.defaultProductCategory) }}
                                            </div>

                                            <hr class="hr-double">
                                            {{ form_row(form.submit) }}
                                        </div>

                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/productmanager/js/product_category-tree-selector.js') }}" type="text/javascript"></script>
    <script>
        $( window ).load(function() {
            var categoryTreeSelector = new ProductCategoryTreeSelector({
                container: '#oni-category-tree',
                'attachedSelect': $('#product_form_defaultProductCategory'),
            });
        });
    </script>
{% endblock %}