{% extends 'CoreBundle:cms:base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block title %}
    {{ 'travel_port' }}
{% endblock %}
{% block body %}
    <style>
        .responsive-table {
            overflow: visible;
        }

        .responsive-table table td {
            overflow: visible;
        }
    </style>
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'CoreBundle:cms:content/content-header.html.twig' %}
                        {% block contentTitle %} {{ 'product_bundle.product.categories'|trans }} {% endblock %}
                    {% endembed %}
                    <div class='row-fluid'>
                        <div class="pull-right">
                            <a class="btn btn-primary" style="margin-bottom:8px" href="{{ url('oni_add_category') }}">
                                <i class="icon-plus"></i> {{ 'product_bundle.add.product.category'|trans }} </a>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>

                            <div class='box-content box-no-padding'>
                                <div class='responsive-table'>
                                    <div class='scrollable-area'>
                                        <table class='data-table-oni-product-categories table table-bordered table-striped'>
                                            <thead>
                                            <tr>
                                                <th data-row-options="1"></th>
                                                <th data-column-name="id">Id</th>
                                                <th data-column-name="name">Name</th>
                                                <th data-column-name="url">Url</th>
                                                <th data-column-name="updatedBy">Update By</th>
                                                <th data-column-name="updatedAt">Last Updated</th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <template product-category-row-options="1">
                                            {% embed '@Core/cms/partials/dataTable/options.twig' %}
                                                {% block links %}
                                                    <li>
                                                        <a href='{{ path('oni_edit_category' , {'id': '{id}'})|url_decode  }}'>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class='oni-delete-action' data-toggle="modal"
                                                           delete-msg="{{ 'modal-messages.delete.confirm.msg'|trans({'%name%': '{name}' , '%item%': 'product_bundle.product.category'|trans}) }}"
                                                           delete-url="{{ path('oni_delete_category' , {'id': '{id}'} )|url_decode }}"
                                                           href='#confirm-delete'>
                                                            Delete
                                                        </a>
                                                    </li>
                                                {% endblock %}
                                            {% endembed %}
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/productmanager/js/datatable/product-category.js') }}" type="text/javascript"></script>

    <script>
        new ProductCatagoryDataTable({
            selector:'.data-table-oni-product-categories',
            rowOptionsTemplate: 'template[product-category-row-options]'
        });
    </script>
{% endblock %}